<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="4.0"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <display-name>Archetype Created Web Application</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>TableActionServlet</servlet-name>
        <servlet-class>com.gmail.supersonicleader.app.controller.TableActionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TableActionServlet</servlet-name>
        <url-pattern/>
    </servlet-mapping>

    <servlet>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>com.gmail.supersonicleader.app.controller.WelcomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/welcome</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>com.gmail.supersonicleader.app.controller.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/add_user</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PrintAllUsersServlet</servlet-name>
        <servlet-class>com.gmail.supersonicleader.app.controller.PrintAllUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrintAllUsersServlet</servlet-name>
        <url-pattern>/print_all_users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateAddressServlet</servlet-name>
        <servlet-class>com.gmail.supersonicleader.app.controller.UpdateAddressServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateAddressServlet</servlet-name>
        <url-pattern>/update_address</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>com.gmail.supersonicleader.app.controller.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/delete_user</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>
